.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 5em;
  padding: 0.5em;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-form{
  padding: 10em;
  font-size: large;
}
.App-form input{
  font-size: large;
}

.App-form input[type="text"]{
  border: 1px solid grey;
}
.App-form input[type="text"]:hover{
  border: 1px solid white;
  border-bottom: 1px solid grey;
  background: #61DAFB;
}
.App-form input[type="submit"]{
  padding: 0.5em;
  background: #61DAFB;
  border: none;
  margin: 2em;
}

.App-form input[type="submit"]:disabled{
  color: white;
  background: grey;
}
